.wishes{
    min-height: 100vh;
    padding-top: 100px;
    background: url("/images/wishes.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.form{
    width: 35%;
    min-width: 30%;
    margin: 0 auto;
    background: #81d3f1;
    padding: 30px;
    border-radius: 10px;
}
.messages{
    width: 60%;
    min-width: 60%;
    margin-right: 5%;
    background: #81d3f1;
    padding: 30px;
    padding-right: 50px;
    border-radius: 10px;
    position: relative;
    scroll-behavior: smooth;
}
.messages-container{
    max-height: calc(100vh - 260px);
    overflow: scroll;
}
form input, form textarea{
    width: 100%;
    display: block;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
    border:1px solid #50c7f3;
    font-family: 'Noto Sans KR', sans-serif;
}
form textarea{
    min-height: 100px;
}
.message-list{
    background-color: #ffffff;
    border:1px solid #50c7f3;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Noto Sans KR', sans-serif;
}
.message-list h4{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    color: #15581d;
}
.message-list i{
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    padding-top: 10px;
    text-transform: uppercase;
    font-family: 'Noto Sans KR', sans-serif;
    color: #15581d;
    display: block;
}
.wishes button{
    border:1px solid #1f9db7;
    background-color: #1f9db7;
    color: #ffffff;
    border-radius: 8px;
    margin-left: 30px;
    width: 100px;
    cursor: pointer;
    height: 40px;
    margin: 0 auto;
    display: block;
}
.wishes button:hover{
    border:1px solid #1f9db7;
    background-color: #ffffff;
    color: #1f9db7;

}
.wishes button:active{
    border:1px solid #1f9db7;
}
.scroll-top-icon, .scroll-bottom-icon{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid #ffffff;
    right: 10px;
    transition: all 0.5s ease;
    text-align: center;
    cursor: pointer;
    scroll-behavior: smooth;
}
.scroll-top-icon:hover, .scroll-bottom-icon:hover{
    border: 1px solid #11b1ec;
    background-color: #ffffff;

}
.scroll-top-icon:hover .arrow, .scroll-bottom-icon:hover .arrow{
    border: solid #11b1ec;
    border-width: 0 2px 2px 0;
}
.scroll-top-icon{
    top: 30px;
    transition: all 0.2s ease;
    padding-top: 3px;
}
.scroll-bottom-icon{
    bottom: 30px;
    transition: all 0.2s ease;
    padding-bottom: 3px;
}
.arrow {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    vertical-align: middle;
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  @media screen and (max-width: 767px){
      .wishes .messages{
          width: 90%;
          margin: 0 auto;
      }
      .wishes .flex-between.flex-center{
          display: block;
      }
      .wishes .form{
          width: 90%;
          margin-top:20px;
      }
      .wishes{background: none;}
  }